.container {
	padding: 80px 120px;
}
.prima {
	border: 10px solid transparent;
	margin-bottom: 25px;
	width: 80%;
	height: 80%;
	opacity: 0.7;
}
.prima:hover {
	border-color: #f8ea2f;
}
.films_liste a {
	color: #2d2d30;

}
.bg-0 {
	background: #2d2d30;
}
.logo-1 {
	opacity: 0.7;
}
.bg-1 {
	background: #2d2d30;
	color: #bdbdbd;
}
.bg-1 h3 {
	color: fff;
}
.bg-1 p {
	font-style: italic;
}
.result {
	color: #555;
}
#film1 p {
	text-align: justify;
}
#film2 p {
	text-align: justify;
}
#film3 p {
	text-align: justify;
}
#film4 p {
	text-align: justify;
}
#film5 p {
	text-align: justify;
}
#film6 p {
	text-align: justify;
}
#film7 p {
	text-align: justify;
}
#film8 p {
	text-align: justify;
}
#film9 p {
	text-align: justify;
}
/* Supprimer les bordures arrondies de la liste */
.list-group-item:first-child {
	border-top-right-radius: 0;
	border-top-left-radius: 0;
}
.list-group-item:last-child {
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}
/* Supprimer la bordure et ajouter un padding aux thumbnails */
.thumbnail {
	padding: 0 0 15px 0;
	border: none;
	border-radius: 0;
}
.thumbnail p {
	margin-top: 15px;
	color: #555;
}
/* Boutons noirs et sans bords arrondis */
.btn {
	padding: 10px 20px;
	background-color: #333;
	color: #f1f1f1;
	border-radius: 0;
	transition: .2s;
}
/* En vol stationnaire, la couleur de .btn passera au blanc avec du texte noir*/
.btn:hover, .btn:focus {
	border: 1px solid #333;
	background-color: #fff;
	color: #000;
}
@media screen and (max-width: 768px) {
    .modal-header h4 {
    	font-size: 20px;
    }
   
}
/* Ajouter une couleur d'arrière-plan gris foncé à l'en-tête modal et au texte central */
.modal-header, h4, .close {
	background-color: #333;
	color: #fff !important;
	text-align: center;
	font-size: 30px;
}
.modal-header, .modal-body {
	padding: 40px 50px;
}
/* Google Map */
#googleMap {
	width: 100%;
	height: 400px;
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
}
/* Navigation */
/* couleur de fond sombre avec un peu de transparence */
.navbar {
	margin-bottom: 0;
	background-color: #2d2d30;
	border: 0;
	font-size: 11px !important;
	letter-spacing: 4px;
	opacity: 0.9;
}
/* couleur grise à tous les liens de la barre de navigation */
.navbar li a, .navbar .navbar-brand {
	color: #fff !important;
}
/* En vol stationnaire, les liens deviennent jaunes */
.navbar-nav li a:hover {
	color: #f8ea2f !important;
}
/* liens active */
.navbar-nav li.active a {
	color: #fff !important;
	background-color: #29292c !important;
}
/* Supprimer la couleur de la bordure du bouton repliable */
.navbar-default .navbar-toggle {
	border-color: transparent;
}
/* actualités */
.bg-2 h2 {
	text-align: center;

}
.tab-pane p {
	text-align: justify;

}
.tab-pane a {
	color: #777;
}
.nav-tabs li a {
	color: #777;
}
/* Footer */
footer {
	background-color: #2d2d30;
	color: #f5f5f5;
	padding: 32px;
}
footer a {
	color: #f5f5f5;
}
footer a:hover {
	color: #777;
	text-decoration: none;
}